<form  [formGroup]="forgetForm" (ngSubmit)="forget(forgetForm.value)" novalidate>
  <div class="imgcontainer">
  </div>

  <div>
    <h3><label><u><b>Forget Password</b></u></label></h3>
  </div>
  <div class="container">
    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" formControlName="email">

      <div class="w3-panel w3-red "  *ngIf="forgetForm.controls.email.invalid &&
           (forgetForm.controls.email.dirty ||
           forgetForm.controls.email.touched) ">Please enter valid email address.

      </div> 


    <button type="submit"  [disabled]="!forgetForm.valid" >Login</button>
    <!-- <input type="checkbox" formControlName="rememberMe" checked="checked"> Remember me -->
   
 

  </div>
</form> 